<!DOCTYPE html>

<!-- Starting of HTML document -->
<html>

<head>

    <!-- Title shown on browser tab -->
    <title>Result Page</title>

</head>

<body>

    <!-- Main heading -->
    <h1>Submitted Data</h1>

    <!-- Display user's name dynamically using EJS -->
    <p>Name: <%= name %></p>

    <!-- Display user's email dynamically using EJS -->
    <p>Email: <%= email %></p>

</body>

</html>